.projectsheader {
    height: 92px;
    display: flex;
    align-items: center;
    flex-direction: row;

    .col-hsb {
        flex: 1 1 50%;
    }

    .col-toolbar {
        flex: 1 1 50%;
        .pill {
            float: right;
            margin-left: 1rem;
        }
    }
}